.top-header {
  background-color: #fff;
  padding: 10px 20px;
  border-bottom: 2px solid #ddd;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-info {
  flex: 1;
  text-align: center;
}




/* Avatar du user */
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.user-avatar:hover {
  transform: scale(1.1);
}
